.neo_card_link {
  height: 400px;
  position: relative;
  display: block;
  background: gray;
  overflow: hidden;
}

.neo_card_link.small {
  height: 185px;
}

@media (min-width: 1080px) {
  .neo_card_link.small {
    height: 260px;
  }
}

.neo_card_link_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-blend-mode: multiply;
  z-index: 1;
}

.neo_card_link_img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.neo_card_link.small .neo_card_link_img {
  height: 185px;
}

@media (min-width: 1080px) {
  .neo_card_link.small .neo_card_link_img {
    height: 260px;
  }
}

.neo_card_link:hover .neo_card_link_img {
  transform: scale(1.3);
}

.neo_card_link_text {
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  z-index: 2;
}

.neo_card_link_text span {
  color: white;
  text-decoration: none;
}

.neo_card_link_text span:first-child {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.neo_card_link_text span:last-child {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .neo_card_link_text {
    bottom: 24px;
    left: 24px;
    right: 24px;
  }

  .neo_card_link_text span:first-child {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .neo_card_link_text span:last-child {
    font-size: 1.75rem;
  }
}