.neo_image_grid{
  display: flex;
  flex-wrap: wrap;
}

.neo_image_grid>div{
  width: calc(100%/2);
}

.neo_image_grid .card-services__icon{
  display: none;
}

@media (min-width: 768px){
  .neo_image_grid>div{
    width: calc(100%/4);
  }
}