.neo_faixa_grande_container {
  position: relative;
  height: 35.375rem;
}

@media screen and (max-width: 1024px) {
  .neo_faixa_grande_container {
    height: 487px;
  }
}

@media screen and (max-width: 768px) {
  .neo_faixa_grande_container {
    height: 406px;
  }
}

.neo_faixa_grande_container__image-background {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.neo_faixa_grande_container__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(0deg,
      rgba(33, 57, 20, 0.85),
      rgba(33, 57, 20, 0.85));
}

.neo_faixa_grande_container__overlay>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .neo_faixa_grande_container__overlay {
    gap: 27px;
  }
}

@media screen and (max-width: 768px) {
  .neo_faixa_grande_container__overlay>div {
    flex-direction: column;
    justify-content: center;
  }

  .neo_faixa_grande_container__overlay {
    gap: 18px;
  }
}

.neo_faixa_grande_container__overlay>div>div:first-child {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  max-width: 450px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .neo_faixa_grande_container__overlay>div>div:first-child {
    font-size: 22px;
    line-height: 32px;
    width: 412px;
  }
}

@media screen and (max-width: 768px) {
  .neo_faixa_grande_container__overlay>div>div:first-child {
    font-size: 18px;
    line-height: 27px;
    width: 287px;
  }
}

.neo_faixa_grande_container__img-container {
  display: flex;
  gap: 40px;
}

.neo_faixa_grande_container__img {
  height: 80px;
}

.neo_faixa_grande_container__img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}