.neo_highlight_content_no_margin {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
}

@media (min-width: 1080px) {
  .neo_highlight_content_no_margin {
    flex-direction: row;
  }
}

.neo_highlight_content_no_margin>div:last-child {
  width: 100%;
  height: 250px;
  position: relative;
}

.neo_highlight_content_no_margin>div:last-child>img,
.neo_highlight_content_no_margin>div:last-child>picture {
  object-fit: cover;
  background: gray;
  position: absolute;
  height: 100%;
  width: 100%;
}

.neo_highlight_content_no_margin>div:last-child>picture img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (min-width: 1080px) {
  .neo_highlight_content_no_margin>div:last-child {
    width: 40%;
    height: auto;
    min-height: 300px;
  }
}

.neo_highlight_content_no_margin>div:first-child {
  background: #fff;
  padding: 30px 16px;
}

@media (min-width: 1080px) {
  .neo_highlight_content_no_margin>div:first-child {
    padding: 40px 56px;
    width: 60%;
  }
}