.neo__distribution_header {
  background: #213914;
  padding: 16px;
}

.neo__distribution_header>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.neo__distribution_header>div>div {
  display: flex;
  align-items: center;
}

.neo__distribution_header>div>div:first-child {
  gap: 100px;
}

.neo__distribution_header>div>div:last-child {
  gap: 50px;
}

.neo__distribution_header_nav {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

.neo__distribution_header_nav>li {
  cursor: pointer;
  position: relative;
}

.neo__distribution_header_nav>li>span {
  color: #fff;
}

.neo__distribution_header_nav_submenu {
  position: absolute;
  top: 27px;
  left: -24px;
  z-index: 1000;
  display: none;
  gap: 15px;
  background: #00402A;
  padding: 40px 0 16px 10px;
  width: 250px;
}

.neo__distribution_header_nav_submenu::before {
  content: '';
  height: 23px;
  width: 100%;
  background: #213914;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.neo__distribution_header_nav>li:hover>.neo__distribution_header_nav_submenu {
  display: flex;
  flex-direction: column;
}


.neo__distribution_header_nav_submenu>ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.neo__distribution_header_nav_submenu>ul>li {
  position: relative;
  padding-right: 10px;
}


.neo__distribution_header_nav_submenu>ul>li:hover .neo__distribution_header_nav_menu_inside {
  opacity: 1;
  transform: translateX(0);
  transition: .4s;
  pointer-events: auto;
}

.neo__distribution_header_nav_menu_inside {
  padding: 20px;
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transform: translateX(-50px);
  transition: .4s;
  position: absolute;
  left: 239px;
  background: #005b3b;
  top: -22px;
}

.neo__distribution_header_nav_menu_inside>span {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #fff;
  color: #fff;
  display: block;
  white-space: nowrap;
}

.neo__distribution_header_nav_menu_inside>ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
}

.neo__distribution_header_nav_menu_inside a {
  color: #fff;
  white-space: nowrap;
}

.neo__distribution_header_nav_submenu>ul>li:first-child>a {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.neo__distribution_header_nav_submenu>ul>li>a {
  color: #fff;
  text-decoration: none !important;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.neo__distribution_header_nav_submenu>ul>li>a>span:nth-of-type(2) {
  transform: rotate(-90deg);
}

.neo__distribution_header_distribution_list~nav, .neo__distribution_header_distribution_list {
  position: relative;
}

.neo__distribution_header_distribution_list>button {
  display: flex;
  color: #fff;
  text-transform: uppercase;
  gap: 5px;
  font-size: 1rem;
  background: transparent;
  border: none;
  font-weight: 400;
}


.neo__distribution_header_distribution_list ul::before {
  content: '';
  height: 23px;
  width: 100%;
  background: #213914;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.neo__distribution_header_distribution_list ul {
  display: none;
  position: absolute;
  top: 27px;
  left: 0;
  width: 200px;
  padding: 40px 20px 20px 20px;
  list-style: none;
  margin: 0;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
  background: #00402A;
}

.neo__distribution_header_distribution_list ul a {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}

.neo__distribution_header_distribution_list:hover ul {
  display: flex;
}

.neo__distribution_header_social_list {
  display: flex;
  gap: 25px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.neo__distribution_header_link {
  height: 40px;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #5C881A;
}

.neo__distribution_header_link span {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 1080px) {
  .neo__distribution_header {
    display: none;
  }
}


.neo_mobile_menu {
  position: fixed;
  top: 112px;
  left: 0;
  width: 100%;
  background: #00402a;
  bottom: 0;
}

.neo_mobile_menu_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.neo_mobile_menu_header>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  height: 56px;
}

.neo_mobile_menu_header>div:first-child {
  background: white;
}

.neo_mobile_menu_header>div:first-child>img {
  height: 30px;
}

.neo_mobile_menu_header>div:first-child>button {
  border: none;
  background: transparent;
}

.neo_mobile_menu_header>div:last-child {
  background: #00402a;
}

.neo_mobile_menu_header>div:last-child>button {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
}

.neo_mobile_menu_header>div:last-child>button>span:last-child {
  transform: rotate(90deg);
  font-size: 1rem;
}

.neo_mobile_menu_header>div:last-child ul {
  display: flex;
  gap: 25px;
  align-items: center;
}

.neo_mobile_menu_list {
  display: flex;
  flex-direction: column;
  z-index: 999;
  list-style: none;
  padding: 0;
  bottom: 0;
}

.neo_mobile_menu_list li {
  border-bottom: solid 0.3px #26bf64;
}

.neo_mobile_menu_list li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.neo_mobile_menu_list li a.bright-green {
  justify-content: flex-start;
  gap: 10px;
  background: #00A443;
}

.neo_mobile_menu_list li a.white {
  background: white;
  color: #3A3735;
  justify-content: flex-start;
  gap: 10px;
}

.neo_mobile_menu_list li a.white>span:last-child {
  transform: rotate(180deg);
}

.neo_mobile_menu_list_second_level {
  position: fixed;
  top: 112px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateX(100%);
  z-index: 1000;
  background: #00402a;
  transition-timing-function: ease-out;
  transition: 0.5s;
  list-style: none;
  padding: 0;
  margin: 0;
}

.neo_mobile_menu_list_second_level>li {
  border-bottom: none;
}

.neo_mobile_menu_list_second_level>li:first-child {
  margin-bottom: 10px;
  border-bottom: solid 1px #00A443;
}

.neo_mobile_menu_list_second_level>li:first-child button {
  display: flex;
  border: none;
  width: 100%;
  background: transparent;
  color: white;
  align-items: center;
  gap: 27px;
  font-size: 1rem;
  padding: 16px;
}

.neo_mobile_menu_list_second_level>li:first-child button span:first-child {
  transform: rotate(180deg);
  font-size: 1rem;
}

.neo_mobile_menu_list_second_level.show {
  transform: translateX(0);
  transition-timing-function: ease-in;
  transition: 0.7s;
}

.neo_mobile_menu_distributors {
  background: #00402A;
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  transform: translateY(100%);
  z-index: 1000;
  transition-timing-function: ease-in;
  transition: 0.7s;
}

.neo_mobile_menu_distributors.show {
  transform: translateY(0);
  transition-timing-function: ease-out;
  transition: 0.7s;
}

.neo_mobile_menu_distributors>div span {
  text-transform: uppercase;
  color: #fff;
  height: 56px;
  display: flex;
  border-bottom: solid 0.3px #26BF64;
  align-items: center;
  padding: 0 16px;
}

.neo_mobile_menu_distributors ul {
  list-style: none;
  margin: 0;
  padding: 24px 16px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.neo_mobile_menu_distributors ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
}