.neo_header {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #ffffff;
}

.header__logo {
  height: 60px;
  z-index: 5;
}

.header__top-items {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
}

.header__top-score {
  display: flex;
}

.header__top-score ul {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 9px 11px;
  background: #F1F1F1;
  border-radius: 16px;
}

.header__top-score ul li {
  border-right: 1px solid #41493D;
  padding: 0px 16px;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  gap: 15px;
}

.header__top-score ul li:last-child {
  border: none;
}

.header__top-score ul li p {
  font-size: 12px;
}

.header__top-score ul li p span {
  color: #5C881A;
}

.header__top-score .negative {
  color: red;
  display: flex;
  align-items: center;
  gap: 2px;
}

.header__top-score .negative::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid red;
}


.header__top-score .positive {
  color: #5C881A;
}

.header__top-score .positive::after {
  content: '';
  display: block;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #5C881A;
}


.header__actions {
  display: flex;
  gap: 15px;
}

.header__open-menu {
  margin: auto 0 auto 5px;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}

.header__close-menu {
  margin: auto 0 auto auto;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}

.header__accessibility, .header__search {
  cursor: pointer;
}

.header__language {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__language>ul {
  position: absolute;
  top: 25px;
  left: -10px;
  width: 100px;
  padding: 0;
  background: white;
  list-style: none;
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  z-index: 10;
}

.header__language:hover>ul {
  display: flex;
}

@media (max-width: 1220px) {
  .neo_header {
    margin-top: 22px;
    height: 50px;
  }

  .header__top-score ul {
    background-color: #F1F1F1;
    border-radius: 0;
    padding: 4px 0 0 0;
    width: 100%;
    height: 22px;

  }

  .header__top-score ul li {
    padding: 1px 4px;
    font-size: 9px;
  }

  .header__top-score ul li:last-child {
    display: none;

  }

  .header__top-score ul li:first-child {
    margin-left: auto;
  }

  .header__top-score ul li:nth-child(3) {
    border-right: none;
    margin-right: auto;
  }

  .neo_header .nav {
    height: calc(100% - 50px);
    position: absolute;
    top: -500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    transition: 0.75s all ease;
    height: auto;
  }

  .neo_header .nav .menu {
    display: flex;
    flex-direction: column;
    flex: none;
  }

  .neo_header .nav .menu__item {
    position: relative;
    flex-direction: column;
    width: 95%;
    height: 50px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(223, 223, 223);
  }

  .neo_header .nav .menu__item .menu__arrow-more {
    opacity: 1;
    visibility: visible;
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
  }

  .neo_header .nav .menu__item .menu__arrow-less {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: block;
    right: 0;
    top: 15px;
  }

  .neo_header .nav .menu__item:hover {
    transition: none;
    border-bottom: 1px solid rgb(223, 223, 223);
  }

  .neo_header .nav .menu__item:hover>.submenu {
    visibility: hidden;
    opacity: 0;
  }

  .neo_header .nav .menu__item.open {
    height: auto;
  }

  .neo_header .nav .menu__item.open .menu__arrow-more {
    opacity: 0;
    visibility: hidden;
  }

  .header .nav .menu__item.open .menu__arrow-less {
    visibility: visible;
    opacity: 1;
  }

  .header .nav .menu__item.open .submenu {
    visibility: visible;
    opacity: 1;
  }

  .header .nav .menu__link {
    width: 100%;
  }

  .header .nav .menu__link span {
    position: relative;
    top: 3px;
    font-size: 16px;
    right: -3px;
    visibility: visible;
    opacity: 1;
  }

  .header .nav .menu .submenu {
    position: relative;
    top: 0;
    padding: 12px 0 0 0;
  }

  .header .nav .menu .submenu__container {
    display: flex;
    flex-direction: column;
  }

  .header .nav .menu .submenu__item {
    height: 28px;
    line-height: 28px;
    margin-bottom: 12px;
  }

  .header .nav .menu .submenu__item:last-child {
    margin-bottom: 24px;
  }

  .header .nav__link--destaque {
    width: 95%;
    margin: 0 auto;
    background-color: #ffffff;
    color: #5C881A;
    font-weight: 400;
    text-align: left;
    position: relative;
  }

  .header .nav__link--destaque span {
    position: relative;
    top: 3px;
    font-size: 16px;
    right: -3px;
    visibility: visible;
    opacity: 1;
  }

  .nav__link--destaque .submenu {
    position: absolute;
    background: #ffffff;
    top: 50px;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px 0 10px 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all ease;
  }

  .header .nav__link--destaque:hover {
    background-color: #ffffff;
    color: #5C881A;
  }

  .header__logo {
    height: 50px;
  }

  .header__open-menu {
    visibility: visible;
    opacity: 1;
    order: 1;
    margin: auto 0 auto 12px;
  }

  .header__search, .header__accessibility {
    margin: auto 0 auto 12px;
  }

  .header__top-score {
    top: -22px;
    height: 13px;
    background: #ffffff;
    padding: 0;
  }

  .header.open .nav {
    visibility: visible;
    opacity: 1;
    top: 0;
    transition: 0.75s all ease;
  }
}

.nav {
  height: 50px;
  display: flex;
  background-color: #ffffff;
}

.nav .menu {
  display: flex;
  flex-direction: row;
  flex: auto;
  list-style: none;
  padding-left: 0;
}

.nav .menu__item {
  display: flex;
  margin: 0 auto 0 0;
  border-bottom: 4px #ffffff solid;
  transition: 1s ease all;
}

.menu__link--destaque {
  margin: 0 !important;
  background-color: #5C881A;
  border-bottom: 1px solid #5C881A;
  padding: 0 10px;
  border-bottom-width: 0 !important;
}

.menu__link--destaque span {
  color: #ffffff !important
}

.menu__link--destaque:hover {
  background-color: #345423;
  border-bottom: none !important;
}

.nav .menu__item .menu__arrow-more,
.nav .menu__item .menu__arrow-less {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.nav .menu__item:hover {
  transition: 1s ease all;
  border-bottom: 4px #5C881A solid;
}

.nav .menu__item:hover>.submenu {
  visibility: visible;
  opacity: 1;
}

.nav .menu__item .submenu {
  position: absolute;
  background: #ffffff;
  top: 50px;
  left: 0;
  width: 100%;
  height: auto;
  padding: 10px 0 10px 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s all ease;
}

.nav .menu__item .submenu-distribuidoras {
  background-color: #345423;
  height: 70px;
  top: 49px;
}

.nav .menu__item .submenu-distribuidoras .submenu__container {
  display: flex;
  grid-template-rows: none;
  grid-template-columns: none;
  height: 60px;
}

.nav .menu__item .submenu-distribuidoras .submenu-distribuidoras__logo-social {
  margin: auto 8px auto 0;
}

.nav .menu__item .submenu-distribuidoras .submenu-distribuidoras__agencia-virtual {
  margin: auto 0 auto 40px;
  height: 40px;
  padding: 0 8px;
  background-color: #5C881A;
  color: #ffffff;
  line-height: 36px;
  text-decoration: none;

}

.nav .menu__item .submenu-distribuidoras .submenu__select {
  margin: auto 0;
  background: #345423;
  border: none;
  color: #ffffff;
  width: 110px;
}

.nav .menu__item .submenu-distribuidoras .submenu__item {
  color: #fff;
  margin: auto auto auto 0;
  cursor: pointer;
}

.nav .menu__item .submenu-distribuidoras .submenu__item:nth-child(2) {
  margin: auto 40px auto 70px;
}

.nav .menu__item .submenu-distribuidoras .submenu__item:hover {
  text-decoration: underline;
}

.nav .menu__item .submenu-distribuidoras .submenu__item:hover .submenu__sub-item {
  display: flex;
}

.nav .menu__item .submenu-distribuidoras .submenu__sub-item {
  display: none;
  background-color: #345423;
  position: absolute;
  top: 60px;
  padding: 18px 24px 24px;
}

.nav .menu__item .submenu-distribuidoras .submenu__sub-item ul {
  padding: 0
}

.nav .menu__item .submenu-distribuidoras .submenu__sub-item li {
  list-style: none;
  height: 20px;
  padding-right: 10px;
}

.nav .menu__item .submenu-distribuidoras .submenu__sub-item a:hover {
  text-decoration: underline;
}

.nav .menu__item .submenu__container {
  width: 95%;
  max-width: 1320px;
  display: grid;
  margin: 0 auto;
  grid-template-rows: 40px 40px;
  grid-template-columns: 320px 320px;
  grid-auto-flow: column;
  padding-bottom: 10px;
}

.nav .menu__item .submenu__item {
  height: 50px;
  line-height: 50px;
  list-style: none;
}

.nav .menu__item .submenu__link {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 400;

}

.nav .menu__link {
  height: 46px;
  line-height: 46px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}

.menu__link--destaque span {
  color: #ffffff
}

.nav .menu__link span {
  visibility: hidden;
  opacity: 0;
}

.nav__link--destaque {
  width: 127px;
  background-color: #5C881A;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  transition: 1s ease all;
  cursor: pointer;
  text-decoration: none;
  height: 50px;
}

.nav__link--destaque span {
  visibility: hidden;
  opacity: 0;
}

.nav__link--destaque:hover {
  transition: 1s ease all;
  background-color: #345423;
  color: #fff;
}

.nav__link--destaque:hover>.submenu {
  visibility: visible;
  opacity: 1;
}

.search-bar {
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: -120px;
  left: 0;
  background-color: #345423;
  transition: 0.5s all ease;
  visibility: hidden;
  opacity: 0;
  display: none;
}

.search-bar.open {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.search-bar__container {
  width: 95%;
  height: 100%;
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.search-bar__input {
  width: 550px;
  background-color: #345423;
  border: none;
  height: 52px;
  margin: auto 0;
  outline: none;
  font-weight: 400;
  font-size: 40px;
  color: #ffffff;
}

.search-bar__input::placeholder {
  color: #AFB5AF;
  opacity: 1;
}

.search-bar__east {
  margin: auto 30px auto auto;
  color: #AFB5AF;
  font-size: 40px !important;
}

.search-bar__close {
  margin: auto 0 auto;
  color: #AFB5AF;
  font-size: 40px !important;
}