.neo_card_link{
  background: #00402A;
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: 30px;
  padding: 20px 30px;
  display: block;
  height: 150px;
  text-decoration: none !important;
}

.neo_card_link>h3, .neo_card_link>span{
  color: #fff;
}