.neo_slider_services {
  margin-top: -40px;
  overflow-x: hidden;
}

.neo_slider_services_item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background: white;
  height: auto;
  border-radius: 16px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
}

.neo_slider_services_item img {
  width: 40px;
  height: auto;
}

.neo_slider_services_item a {
  color: #3A3735;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-decoration: none !important;
}

@media (min-width: 1080px) {
  .neo_slider_services {
    margin-top: -80px;
  }
  .neo_slider_services_item{
    height: 170px;
  }
}


