

:root {
  --neo_faixa_container__break-point:  768px
}

.neo_faixa_container {
  position: relative;
  width: 100%;
  height: 253px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .neo_faixa_container {
    height: auto;
  }
}

.neo_faixa_container__image-backgorund {
  position: absolute;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width:768px) {
  .neo_faixa_container__image-backgorund{
    position: absolute;
  }
}

.neo_faixa_container__image-icon {
  width: 2.5rem;
  height: 2.5rem;
}

@media (max-width: 768px) {
  .neo_faixa_container__image-icon {
    width: 2rem;
    height: 2rem;
  }
}


.neo_faixa_container__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  position: relative;
  padding: 24px 40px;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 64, 42, 0.85), rgba(0, 64, 42, 0.85));
}

@media (max-width: 768px) {
  .neo_faixa_container__overlay {
    gap: 12px;
  }
}

.neo_faixa_container__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #fff;
  margin: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .neo_faixa_container__title {
    font-size: 18px;
    line-height: 24px;
  }
}

.neo_faixa_container__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  margin: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .neo_faixa_container__description {
    font-size: 14px;
    line-height: 24px;
  }
}