.neo_slider_highlight_content {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.neo_slider_highlight_content_instance {
  margin-bottom: 50px;
}

.neo_slider_highlight_content_instance_actions {
  display: flex;
  position: relative;
  margin-top: 35px;
  gap: 35px;
  align-items: center;
}

.neo_slider_highlight_content_instance_actions>div:first-child {
  position: relative;
  left: 0;
  top: 0;
  flex: 1;
}

.neo_slider_highlight_content_instance_actions>div:last-child {
  display: flex;
  gap: 15px;
  align-items: center;
}

.neo_slider_highlight_content_instance_actions>div:last-child button {
  background: transparent;
  border: none;
}

.neo_slider_highlight_content_item {
  background: #FFF5EC;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.neo_slider_highlight_content_item>picture,
.neo_slider_highlight_content_item img {
  width: 100%;
  object-fit: cover;
  height: 160px;
  background: gray;
}

.neo_slider_highlight_content_item>div {
  padding: 24px 32px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.neo_slider_highlight_content_item>div>div {
  max-height: 105px;
  overflow-y: hidden;
}

.neo_slider_highlight_content_item>div>a {
  margin: auto 0 0 0;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #00A443;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}