.neo_faixa_destaque_imagem__container {
  display: flex;
  flex-direction: column;
}

.neo_faixa_destaque_imagem__imagem {
  width: 100%;
  height: 250px;
}

.neo_faixa_destaque_imagem__imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.neo_faixa_destaque_imagem__textos {
  width: 100%;
  background-color: var(--brand-color-4);
  color: var(--body-bg);
  padding: 30px 15px;
}

.neo_faixa_destaque_imagem__textos h2 {
  margin-bottom: 20px;
  color: white;
}

.neo_faixa_destaque_imagem__textos>div {
  margin-bottom: 20px;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.neo_faixa_destaque_imagem__textos button {
  display: flex;
  align-items: center;
  padding: 10px 11px;
  gap: 20px;
  background: #ffffff;
  border-radius: 28px;
  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #3a3735;
}

@media (min-width: 768px) {
  .neo_faixa_destaque_imagem__container {
    flex-direction: row;
  }

  .neo_faixa_destaque_imagem__imagem {
    width: 40%;
    height: auto;
  }

  .neo_faixa_destaque_imagem__imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .neo_faixa_destaque_imagem__textos {
    width: 60%;
    padding: 85px 65px;
  }

  .neo_faixa_destaque_imagem__textos h2 {
    margin-bottom: 56px;
  }

  .neo_faixa_destaque_imagem__textos>div {
    margin-bottom: 70px;
  }
}